
.sfondoGradiente{
    background-image: linear-gradient(45deg,#6666ff,#0000ff);
    height: 100%;
    margin: 0;
    backdrop-filter: blur(10px);
    animation-name: sfondoGradienteAnimato;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*
Prima non cambia linearmente l'angolo
Poi non funziona linearmente la trasformazione di colori
Quindi vaffanculo mi sono fatto uno script del cazzo in C++ per stamparmi tutto questo
Vehap vorrai ammazzarmi ma vaffanculo
*/
@keyframes sfondoGradienteAnimato{
    0%{background-image: linear-gradient(0deg,#6666ff,#0000ff);}
    0.277778%{background-image: linear-gradient(1deg,#6666ff,#0000ff);}
    0.555556%{background-image: linear-gradient(2deg,#6666ff,#0000ff);}
    0.833334%{background-image: linear-gradient(3deg,#6666ff,#0000ff);}
    1.11111%{background-image: linear-gradient(4deg,#6666ff,#0000ff);}
    1.38889%{background-image: linear-gradient(5deg,#6666ff,#0000ff);}
    1.66667%{background-image: linear-gradient(6deg,#6666ff,#0000ff);}
    1.94445%{background-image: linear-gradient(7deg,#6666ff,#0000ff);}
    2.22222%{background-image: linear-gradient(8deg,#6666ff,#0000ff);}
    2.5%{background-image: linear-gradient(9deg,#6666ff,#0000ff);}
    2.77778%{background-image: linear-gradient(10deg,#6666ff,#0000ff);}
    3.05556%{background-image: linear-gradient(11deg,#6666ff,#0000ff);}
    3.33334%{background-image: linear-gradient(12deg,#6666ff,#0000ff);}
    3.61111%{background-image: linear-gradient(13deg,#6666ff,#0000ff);}
    3.88889%{background-image: linear-gradient(14deg,#6666ff,#0000ff);}
    4.16667%{background-image: linear-gradient(15deg,#6666ff,#0000ff);}
    4.44445%{background-image: linear-gradient(16deg,#6666ff,#0000ff);}
    4.72223%{background-image: linear-gradient(17deg,#6666ff,#0000ff);}
    5%{background-image: linear-gradient(18deg,#6666ff,#0000ff);}
    5.27778%{background-image: linear-gradient(19deg,#6666ff,#0000ff);}
    5.55556%{background-image: linear-gradient(20deg,#6666ff,#0000ff);}
    5.83334%{background-image: linear-gradient(21deg,#6666ff,#0000ff);}
    6.11112%{background-image: linear-gradient(22deg,#6666ff,#0000ff);}
    6.38889%{background-image: linear-gradient(23deg,#6666ff,#0000ff);}
    6.66667%{background-image: linear-gradient(24deg,#6666ff,#0000ff);}
    6.94445%{background-image: linear-gradient(25deg,#6666ff,#0000ff);}
    7.22223%{background-image: linear-gradient(26deg,#6666ff,#0000ff);}
    7.50001%{background-image: linear-gradient(27deg,#6666ff,#0000ff);}
    7.77778%{background-image: linear-gradient(28deg,#6666ff,#0000ff);}
    8.05556%{background-image: linear-gradient(29deg,#6666ff,#0000ff);}
    8.33334%{background-image: linear-gradient(30deg,#6666ff,#0000ff);}
    8.61112%{background-image: linear-gradient(31deg,#6666ff,#0000ff);}
    8.8889%{background-image: linear-gradient(32deg,#6666ff,#0000ff);}
    9.16667%{background-image: linear-gradient(33deg,#6666ff,#0000ff);}
    9.44445%{background-image: linear-gradient(34deg,#6666ff,#0000ff);}
    9.72223%{background-image: linear-gradient(35deg,#6666ff,#0000ff);}
    10%{background-image: linear-gradient(36deg,#6666ff,#0000ff);}
    10.2778%{background-image: linear-gradient(37deg,#6666ff,#0000ff);}
    10.5556%{background-image: linear-gradient(38deg,#6666ff,#0000ff);}
    10.8333%{background-image: linear-gradient(39deg,#6666ff,#0000ff);}
    11.1111%{background-image: linear-gradient(40deg,#6666ff,#0000ff);}
    11.3889%{background-image: linear-gradient(41deg,#6666ff,#0000ff);}
    11.6667%{background-image: linear-gradient(42deg,#6666ff,#0000ff);}
    11.9445%{background-image: linear-gradient(43deg,#6666ff,#0000ff);}
    12.2222%{background-image: linear-gradient(44deg,#6666ff,#0000ff);}
    12.5%{background-image: linear-gradient(45deg,#6666ff,#0000ff);}
    12.7778%{background-image: linear-gradient(46deg,#6666ff,#0000ff);}
    13.0556%{background-image: linear-gradient(47deg,#6666ff,#0000ff);}
    13.3333%{background-image: linear-gradient(48deg,#6666ff,#0000ff);}
    13.6111%{background-image: linear-gradient(49deg,#6666ff,#0000ff);}
    13.8889%{background-image: linear-gradient(50deg,#6666ff,#0000ff);}
    14.1667%{background-image: linear-gradient(51deg,#6666ff,#0000ff);}
    14.4445%{background-image: linear-gradient(52deg,#6666ff,#0000ff);}
    14.7222%{background-image: linear-gradient(53deg,#6666ff,#0000ff);}
    15%{background-image: linear-gradient(54deg,#6666ff,#0000ff);}
    15.2778%{background-image: linear-gradient(55deg,#6666ff,#0000ff);}
    15.5556%{background-image: linear-gradient(56deg,#6666ff,#0000ff);}
    15.8333%{background-image: linear-gradient(57deg,#6666ff,#0000ff);}
    16.1111%{background-image: linear-gradient(58deg,#6666ff,#0000ff);}
    16.3889%{background-image: linear-gradient(59deg,#6666ff,#0000ff);}
    16.6667%{background-image: linear-gradient(60deg,#6666ff,#0000ff);}
    16.9445%{background-image: linear-gradient(61deg,#6666ff,#0000ff);}
    17.2222%{background-image: linear-gradient(62deg,#6666ff,#0000ff);}
    17.5%{background-image: linear-gradient(63deg,#6666ff,#0000ff);}
    17.7778%{background-image: linear-gradient(64deg,#6666ff,#0000ff);}
    18.0556%{background-image: linear-gradient(65deg,#6666ff,#0000ff);}
    18.3333%{background-image: linear-gradient(66deg,#6666ff,#0000ff);}
    18.6111%{background-image: linear-gradient(67deg,#6666ff,#0000ff);}
    18.8889%{background-image: linear-gradient(68deg,#6666ff,#0000ff);}
    19.1667%{background-image: linear-gradient(69deg,#6666ff,#0000ff);}
    19.4445%{background-image: linear-gradient(70deg,#6666ff,#0000ff);}
    19.7222%{background-image: linear-gradient(71deg,#6666ff,#0000ff);}
    20%{background-image: linear-gradient(72deg,#6666ff,#0000ff);}
    20.2778%{background-image: linear-gradient(73deg,#6666ff,#0000ff);}
    20.5556%{background-image: linear-gradient(74deg,#6666ff,#0000ff);}
    20.8334%{background-image: linear-gradient(75deg,#6666ff,#0000ff);}
    21.1111%{background-image: linear-gradient(76deg,#6666ff,#0000ff);}
    21.3889%{background-image: linear-gradient(77deg,#6666ff,#0000ff);}
    21.6667%{background-image: linear-gradient(78deg,#6666ff,#0000ff);}
    21.9445%{background-image: linear-gradient(79deg,#6666ff,#0000ff);}
    22.2222%{background-image: linear-gradient(80deg,#6666ff,#0000ff);}
    22.5%{background-image: linear-gradient(81deg,#6666ff,#0000ff);}
    22.7778%{background-image: linear-gradient(82deg,#6666ff,#0000ff);}
    23.0556%{background-image: linear-gradient(83deg,#6666ff,#0000ff);}
    23.3334%{background-image: linear-gradient(84deg,#6666ff,#0000ff);}
    23.6111%{background-image: linear-gradient(85deg,#6666ff,#0000ff);}
    23.8889%{background-image: linear-gradient(86deg,#6666ff,#0000ff);}
    24.1667%{background-image: linear-gradient(87deg,#6666ff,#0000ff);}
    24.4445%{background-image: linear-gradient(88deg,#6666ff,#0000ff);}
    24.7222%{background-image: linear-gradient(89deg,#6666ff,#0000ff);}
    25%{background-image: linear-gradient(90deg,#6666ff,#0000ff);}
    25.2778%{background-image: linear-gradient(91deg,#6666ff,#0000ff);}
    25.5556%{background-image: linear-gradient(92deg,#6666ff,#0000ff);}
    25.8334%{background-image: linear-gradient(93deg,#6666ff,#0000ff);}
    26.1111%{background-image: linear-gradient(94deg,#6666ff,#0000ff);}
    26.3889%{background-image: linear-gradient(95deg,#6666ff,#0000ff);}
    26.6667%{background-image: linear-gradient(96deg,#6666ff,#0000ff);}
    26.9445%{background-image: linear-gradient(97deg,#6666ff,#0000ff);}
    27.2222%{background-image: linear-gradient(98deg,#6666ff,#0000ff);}
    27.5%{background-image: linear-gradient(99deg,#6666ff,#0000ff);}
    27.7778%{background-image: linear-gradient(100deg,#6666ff,#0000ff);}
    28.0556%{background-image: linear-gradient(101deg,#6666ff,#0000ff);}
    28.3334%{background-image: linear-gradient(102deg,#6666ff,#0000ff);}
    28.6111%{background-image: linear-gradient(103deg,#6666ff,#0000ff);}
    28.8889%{background-image: linear-gradient(104deg,#6666ff,#0000ff);}
    29.1667%{background-image: linear-gradient(105deg,#6666ff,#0000ff);}
    29.4445%{background-image: linear-gradient(106deg,#6666ff,#0000ff);}
    29.7222%{background-image: linear-gradient(107deg,#6666ff,#0000ff);}
    30%{background-image: linear-gradient(108deg,#6666ff,#0000ff);}
    30.2778%{background-image: linear-gradient(109deg,#6666ff,#0000ff);}
    30.5556%{background-image: linear-gradient(110deg,#6666ff,#0000ff);}
    30.8334%{background-image: linear-gradient(111deg,#6666ff,#0000ff);}
    31.1111%{background-image: linear-gradient(112deg,#6666ff,#0000ff);}
    31.3889%{background-image: linear-gradient(113deg,#6666ff,#0000ff);}
    31.6667%{background-image: linear-gradient(114deg,#6666ff,#0000ff);}
    31.9445%{background-image: linear-gradient(115deg,#6666ff,#0000ff);}
    32.2222%{background-image: linear-gradient(116deg,#6666ff,#0000ff);}
    32.5%{background-image: linear-gradient(117deg,#6666ff,#0000ff);}
    32.7778%{background-image: linear-gradient(118deg,#6666ff,#0000ff);}
    33.0556%{background-image: linear-gradient(119deg,#6666ff,#0000ff);}
    33.3334%{background-image: linear-gradient(120deg,#6666ff,#0000ff);}
    33.6111%{background-image: linear-gradient(121deg,#6666ff,#0000ff);}
    33.8889%{background-image: linear-gradient(122deg,#6666ff,#0000ff);}
    34.1667%{background-image: linear-gradient(123deg,#6666ff,#0000ff);}
    34.4445%{background-image: linear-gradient(124deg,#6666ff,#0000ff);}
    34.7223%{background-image: linear-gradient(125deg,#6666ff,#0000ff);}
    35%{background-image: linear-gradient(126deg,#6666ff,#0000ff);}
    35.2778%{background-image: linear-gradient(127deg,#6666ff,#0000ff);}
    35.5556%{background-image: linear-gradient(128deg,#6666ff,#0000ff);}
    35.8334%{background-image: linear-gradient(129deg,#6666ff,#0000ff);}
    36.1111%{background-image: linear-gradient(130deg,#6666ff,#0000ff);}
    36.3889%{background-image: linear-gradient(131deg,#6666ff,#0000ff);}
    36.6667%{background-image: linear-gradient(132deg,#6666ff,#0000ff);}
    36.9445%{background-image: linear-gradient(133deg,#6666ff,#0000ff);}
    37.2223%{background-image: linear-gradient(134deg,#6666ff,#0000ff);}
    37.5%{background-image: linear-gradient(135deg,#6666ff,#0000ff);}
    37.7778%{background-image: linear-gradient(136deg,#6666ff,#0000ff);}
    38.0556%{background-image: linear-gradient(137deg,#6666ff,#0000ff);}
    38.3334%{background-image: linear-gradient(138deg,#6666ff,#0000ff);}
    38.6111%{background-image: linear-gradient(139deg,#6666ff,#0000ff);}
    38.8889%{background-image: linear-gradient(140deg,#6666ff,#0000ff);}
    39.1667%{background-image: linear-gradient(141deg,#6666ff,#0000ff);}
    39.4445%{background-image: linear-gradient(142deg,#6666ff,#0000ff);}
    39.7223%{background-image: linear-gradient(143deg,#6666ff,#0000ff);}
    40%{background-image: linear-gradient(144deg,#6666ff,#0000ff);}
    40.2778%{background-image: linear-gradient(145deg,#6666ff,#0000ff);}
    40.5556%{background-image: linear-gradient(146deg,#6666ff,#0000ff);}
    40.8334%{background-image: linear-gradient(147deg,#6666ff,#0000ff);}
    41.1111%{background-image: linear-gradient(148deg,#6666ff,#0000ff);}
    41.3889%{background-image: linear-gradient(149deg,#6666ff,#0000ff);}
    41.6667%{background-image: linear-gradient(150deg,#6666ff,#0000ff);}
    41.9445%{background-image: linear-gradient(151deg,#6666ff,#0000ff);}
    42.2223%{background-image: linear-gradient(152deg,#6666ff,#0000ff);}
    42.5%{background-image: linear-gradient(153deg,#6666ff,#0000ff);}
    42.7778%{background-image: linear-gradient(154deg,#6666ff,#0000ff);}
    43.0556%{background-image: linear-gradient(155deg,#6666ff,#0000ff);}
    43.3334%{background-image: linear-gradient(156deg,#6666ff,#0000ff);}
    43.6111%{background-image: linear-gradient(157deg,#6666ff,#0000ff);}
    43.8889%{background-image: linear-gradient(158deg,#6666ff,#0000ff);}
    44.1667%{background-image: linear-gradient(159deg,#6666ff,#0000ff);}
    44.4445%{background-image: linear-gradient(160deg,#6666ff,#0000ff);}
    44.7223%{background-image: linear-gradient(161deg,#6666ff,#0000ff);}
    45%{background-image: linear-gradient(162deg,#6666ff,#0000ff);}
    45.2778%{background-image: linear-gradient(163deg,#6666ff,#0000ff);}
    45.5556%{background-image: linear-gradient(164deg,#6666ff,#0000ff);}
    45.8334%{background-image: linear-gradient(165deg,#6666ff,#0000ff);}
    46.1111%{background-image: linear-gradient(166deg,#6666ff,#0000ff);}
    46.3889%{background-image: linear-gradient(167deg,#6666ff,#0000ff);}
    46.6667%{background-image: linear-gradient(168deg,#6666ff,#0000ff);}
    46.9445%{background-image: linear-gradient(169deg,#6666ff,#0000ff);}
    47.2223%{background-image: linear-gradient(170deg,#6666ff,#0000ff);}
    47.5%{background-image: linear-gradient(171deg,#6666ff,#0000ff);}
    47.7778%{background-image: linear-gradient(172deg,#6666ff,#0000ff);}
    48.0556%{background-image: linear-gradient(173deg,#6666ff,#0000ff);}
    48.3334%{background-image: linear-gradient(174deg,#6666ff,#0000ff);}
    48.6112%{background-image: linear-gradient(175deg,#6666ff,#0000ff);}
    48.8889%{background-image: linear-gradient(176deg,#6666ff,#0000ff);}
    49.1667%{background-image: linear-gradient(177deg,#6666ff,#0000ff);}
    49.4445%{background-image: linear-gradient(178deg,#6666ff,#0000ff);}
    49.7223%{background-image: linear-gradient(179deg,#6666ff,#0000ff);}
    50%{background-image: linear-gradient(180deg,#6666ff,#0000ff);}
    50.2778%{background-image: linear-gradient(181deg,#6666ff,#0000ff);}
    50.5556%{background-image: linear-gradient(182deg,#6666ff,#0000ff);}
    50.8334%{background-image: linear-gradient(183deg,#6666ff,#0000ff);}
    51.1112%{background-image: linear-gradient(184deg,#6666ff,#0000ff);}
    51.3889%{background-image: linear-gradient(185deg,#6666ff,#0000ff);}
    51.6667%{background-image: linear-gradient(186deg,#6666ff,#0000ff);}
    51.9445%{background-image: linear-gradient(187deg,#6666ff,#0000ff);}
    52.2223%{background-image: linear-gradient(188deg,#6666ff,#0000ff);}
    52.5%{background-image: linear-gradient(189deg,#6666ff,#0000ff);}
    52.7778%{background-image: linear-gradient(190deg,#6666ff,#0000ff);}
    53.0556%{background-image: linear-gradient(191deg,#6666ff,#0000ff);}
    53.3334%{background-image: linear-gradient(192deg,#6666ff,#0000ff);}
    53.6112%{background-image: linear-gradient(193deg,#6666ff,#0000ff);}
    53.8889%{background-image: linear-gradient(194deg,#6666ff,#0000ff);}
    54.1667%{background-image: linear-gradient(195deg,#6666ff,#0000ff);}
    54.4445%{background-image: linear-gradient(196deg,#6666ff,#0000ff);}
    54.7223%{background-image: linear-gradient(197deg,#6666ff,#0000ff);}
    55%{background-image: linear-gradient(198deg,#6666ff,#0000ff);}
    55.2778%{background-image: linear-gradient(199deg,#6666ff,#0000ff);}
    55.5556%{background-image: linear-gradient(200deg,#6666ff,#0000ff);}
    55.8334%{background-image: linear-gradient(201deg,#6666ff,#0000ff);}
    56.1112%{background-image: linear-gradient(202deg,#6666ff,#0000ff);}
    56.3889%{background-image: linear-gradient(203deg,#6666ff,#0000ff);}
    56.6667%{background-image: linear-gradient(204deg,#6666ff,#0000ff);}
    56.9445%{background-image: linear-gradient(205deg,#6666ff,#0000ff);}
    57.2223%{background-image: linear-gradient(206deg,#6666ff,#0000ff);}
    57.5%{background-image: linear-gradient(207deg,#6666ff,#0000ff);}
    57.7778%{background-image: linear-gradient(208deg,#6666ff,#0000ff);}
    58.0556%{background-image: linear-gradient(209deg,#6666ff,#0000ff);}
    58.3334%{background-image: linear-gradient(210deg,#6666ff,#0000ff);}
    58.6112%{background-image: linear-gradient(211deg,#6666ff,#0000ff);}
    58.8889%{background-image: linear-gradient(212deg,#6666ff,#0000ff);}
    59.1667%{background-image: linear-gradient(213deg,#6666ff,#0000ff);}
    59.4445%{background-image: linear-gradient(214deg,#6666ff,#0000ff);}
    59.7223%{background-image: linear-gradient(215deg,#6666ff,#0000ff);}
    60%{background-image: linear-gradient(216deg,#6666ff,#0000ff);}
    60.2778%{background-image: linear-gradient(217deg,#6666ff,#0000ff);}
    60.5556%{background-image: linear-gradient(218deg,#6666ff,#0000ff);}
    60.8334%{background-image: linear-gradient(219deg,#6666ff,#0000ff);}
    61.1112%{background-image: linear-gradient(220deg,#6666ff,#0000ff);}
    61.3889%{background-image: linear-gradient(221deg,#6666ff,#0000ff);}
    61.6667%{background-image: linear-gradient(222deg,#6666ff,#0000ff);}
    61.9445%{background-image: linear-gradient(223deg,#6666ff,#0000ff);}
    62.2223%{background-image: linear-gradient(224deg,#6666ff,#0000ff);}
    62.5001%{background-image: linear-gradient(225deg,#6666ff,#0000ff);}
    62.7778%{background-image: linear-gradient(226deg,#6666ff,#0000ff);}
    63.0556%{background-image: linear-gradient(227deg,#6666ff,#0000ff);}
    63.3334%{background-image: linear-gradient(228deg,#6666ff,#0000ff);}
    63.6112%{background-image: linear-gradient(229deg,#6666ff,#0000ff);}
    63.8889%{background-image: linear-gradient(230deg,#6666ff,#0000ff);}
    64.1667%{background-image: linear-gradient(231deg,#6666ff,#0000ff);}
    64.4445%{background-image: linear-gradient(232deg,#6666ff,#0000ff);}
    64.7223%{background-image: linear-gradient(233deg,#6666ff,#0000ff);}
    65.0001%{background-image: linear-gradient(234deg,#6666ff,#0000ff);}
    65.2778%{background-image: linear-gradient(235deg,#6666ff,#0000ff);}
    65.5556%{background-image: linear-gradient(236deg,#6666ff,#0000ff);}
    65.8334%{background-image: linear-gradient(237deg,#6666ff,#0000ff);}
    66.1112%{background-image: linear-gradient(238deg,#6666ff,#0000ff);}
    66.3889%{background-image: linear-gradient(239deg,#6666ff,#0000ff);}
    66.6667%{background-image: linear-gradient(240deg,#6666ff,#0000ff);}
    66.9445%{background-image: linear-gradient(241deg,#6666ff,#0000ff);}
    67.2223%{background-image: linear-gradient(242deg,#6666ff,#0000ff);}
    67.5001%{background-image: linear-gradient(243deg,#6666ff,#0000ff);}
    67.7778%{background-image: linear-gradient(244deg,#6666ff,#0000ff);}
    68.0556%{background-image: linear-gradient(245deg,#6666ff,#0000ff);}
    68.3334%{background-image: linear-gradient(246deg,#6666ff,#0000ff);}
    68.6112%{background-image: linear-gradient(247deg,#6666ff,#0000ff);}
    68.8889%{background-image: linear-gradient(248deg,#6666ff,#0000ff);}
    69.1667%{background-image: linear-gradient(249deg,#6666ff,#0000ff);}
    69.4445%{background-image: linear-gradient(250deg,#6666ff,#0000ff);}
    69.7223%{background-image: linear-gradient(251deg,#6666ff,#0000ff);}
    70.0001%{background-image: linear-gradient(252deg,#6666ff,#0000ff);}
    70.2778%{background-image: linear-gradient(253deg,#6666ff,#0000ff);}
    70.5556%{background-image: linear-gradient(254deg,#6666ff,#0000ff);}
    70.8334%{background-image: linear-gradient(255deg,#6666ff,#0000ff);}
    71.1112%{background-image: linear-gradient(256deg,#6666ff,#0000ff);}
    71.3889%{background-image: linear-gradient(257deg,#6666ff,#0000ff);}
    71.6667%{background-image: linear-gradient(258deg,#6666ff,#0000ff);}
    71.9445%{background-image: linear-gradient(259deg,#6666ff,#0000ff);}
    72.2223%{background-image: linear-gradient(260deg,#6666ff,#0000ff);}
    72.5001%{background-image: linear-gradient(261deg,#6666ff,#0000ff);}
    72.7778%{background-image: linear-gradient(262deg,#6666ff,#0000ff);}
    73.0556%{background-image: linear-gradient(263deg,#6666ff,#0000ff);}
    73.3334%{background-image: linear-gradient(264deg,#6666ff,#0000ff);}
    73.6112%{background-image: linear-gradient(265deg,#6666ff,#0000ff);}
    73.8889%{background-image: linear-gradient(266deg,#6666ff,#0000ff);}
    74.1667%{background-image: linear-gradient(267deg,#6666ff,#0000ff);}
    74.4445%{background-image: linear-gradient(268deg,#6666ff,#0000ff);}
    74.7223%{background-image: linear-gradient(269deg,#6666ff,#0000ff);}
    75.0001%{background-image: linear-gradient(270deg,#6666ff,#0000ff);}
    75.2778%{background-image: linear-gradient(271deg,#6666ff,#0000ff);}
    75.5556%{background-image: linear-gradient(272deg,#6666ff,#0000ff);}
    75.8334%{background-image: linear-gradient(273deg,#6666ff,#0000ff);}
    76.1112%{background-image: linear-gradient(274deg,#6666ff,#0000ff);}
    76.389%{background-image: linear-gradient(275deg,#6666ff,#0000ff);}
    76.6667%{background-image: linear-gradient(276deg,#6666ff,#0000ff);}
    76.9445%{background-image: linear-gradient(277deg,#6666ff,#0000ff);}
    77.2223%{background-image: linear-gradient(278deg,#6666ff,#0000ff);}
    77.5001%{background-image: linear-gradient(279deg,#6666ff,#0000ff);}
    77.7778%{background-image: linear-gradient(280deg,#6666ff,#0000ff);}
    78.0556%{background-image: linear-gradient(281deg,#6666ff,#0000ff);}
    78.3334%{background-image: linear-gradient(282deg,#6666ff,#0000ff);}
    78.6112%{background-image: linear-gradient(283deg,#6666ff,#0000ff);}
    78.889%{background-image: linear-gradient(284deg,#6666ff,#0000ff);}
    79.1667%{background-image: linear-gradient(285deg,#6666ff,#0000ff);}
    79.4445%{background-image: linear-gradient(286deg,#6666ff,#0000ff);}
    79.7223%{background-image: linear-gradient(287deg,#6666ff,#0000ff);}
    80.0001%{background-image: linear-gradient(288deg,#6666ff,#0000ff);}
    80.2778%{background-image: linear-gradient(289deg,#6666ff,#0000ff);}
    80.5556%{background-image: linear-gradient(290deg,#6666ff,#0000ff);}
    80.8334%{background-image: linear-gradient(291deg,#6666ff,#0000ff);}
    81.1112%{background-image: linear-gradient(292deg,#6666ff,#0000ff);}
    81.389%{background-image: linear-gradient(293deg,#6666ff,#0000ff);}
    81.6667%{background-image: linear-gradient(294deg,#6666ff,#0000ff);}
    81.9445%{background-image: linear-gradient(295deg,#6666ff,#0000ff);}
    82.2223%{background-image: linear-gradient(296deg,#6666ff,#0000ff);}
    82.5001%{background-image: linear-gradient(297deg,#6666ff,#0000ff);}
    82.7778%{background-image: linear-gradient(298deg,#6666ff,#0000ff);}
    83.0556%{background-image: linear-gradient(299deg,#6666ff,#0000ff);}
    83.3334%{background-image: linear-gradient(300deg,#6666ff,#0000ff);}
    83.6112%{background-image: linear-gradient(301deg,#6666ff,#0000ff);}
    83.889%{background-image: linear-gradient(302deg,#6666ff,#0000ff);}
    84.1667%{background-image: linear-gradient(303deg,#6666ff,#0000ff);}
    84.4445%{background-image: linear-gradient(304deg,#6666ff,#0000ff);}
    84.7223%{background-image: linear-gradient(305deg,#6666ff,#0000ff);}
    85.0001%{background-image: linear-gradient(306deg,#6666ff,#0000ff);}
    85.2778%{background-image: linear-gradient(307deg,#6666ff,#0000ff);}
    85.5556%{background-image: linear-gradient(308deg,#6666ff,#0000ff);}
    85.8334%{background-image: linear-gradient(309deg,#6666ff,#0000ff);}
    86.1112%{background-image: linear-gradient(310deg,#6666ff,#0000ff);}
    86.389%{background-image: linear-gradient(311deg,#6666ff,#0000ff);}
    86.6667%{background-image: linear-gradient(312deg,#6666ff,#0000ff);}
    86.9445%{background-image: linear-gradient(313deg,#6666ff,#0000ff);}
    87.2223%{background-image: linear-gradient(314deg,#6666ff,#0000ff);}
    87.5001%{background-image: linear-gradient(315deg,#6666ff,#0000ff);}
    87.7778%{background-image: linear-gradient(316deg,#6666ff,#0000ff);}
    88.0556%{background-image: linear-gradient(317deg,#6666ff,#0000ff);}
    88.3334%{background-image: linear-gradient(318deg,#6666ff,#0000ff);}
    88.6112%{background-image: linear-gradient(319deg,#6666ff,#0000ff);}
    88.889%{background-image: linear-gradient(320deg,#6666ff,#0000ff);}
    89.1667%{background-image: linear-gradient(321deg,#6666ff,#0000ff);}
    89.4445%{background-image: linear-gradient(322deg,#6666ff,#0000ff);}
    89.7223%{background-image: linear-gradient(323deg,#6666ff,#0000ff);}
    90.0001%{background-image: linear-gradient(324deg,#6666ff,#0000ff);}
    90.2779%{background-image: linear-gradient(325deg,#6666ff,#0000ff);}
    90.5556%{background-image: linear-gradient(326deg,#6666ff,#0000ff);}
    90.8334%{background-image: linear-gradient(327deg,#6666ff,#0000ff);}
    91.1112%{background-image: linear-gradient(328deg,#6666ff,#0000ff);}
    91.389%{background-image: linear-gradient(329deg,#6666ff,#0000ff);}
    91.6667%{background-image: linear-gradient(330deg,#6666ff,#0000ff);}
    91.9445%{background-image: linear-gradient(331deg,#6666ff,#0000ff);}
    92.2223%{background-image: linear-gradient(332deg,#6666ff,#0000ff);}
    92.5001%{background-image: linear-gradient(333deg,#6666ff,#0000ff);}
    92.7779%{background-image: linear-gradient(334deg,#6666ff,#0000ff);}
    93.0556%{background-image: linear-gradient(335deg,#6666ff,#0000ff);}
    93.3334%{background-image: linear-gradient(336deg,#6666ff,#0000ff);}
    93.6112%{background-image: linear-gradient(337deg,#6666ff,#0000ff);}
    93.889%{background-image: linear-gradient(338deg,#6666ff,#0000ff);}
    94.1667%{background-image: linear-gradient(339deg,#6666ff,#0000ff);}
    94.4445%{background-image: linear-gradient(340deg,#6666ff,#0000ff);}
    94.7223%{background-image: linear-gradient(341deg,#6666ff,#0000ff);}
    95.0001%{background-image: linear-gradient(342deg,#6666ff,#0000ff);}
    95.2779%{background-image: linear-gradient(343deg,#6666ff,#0000ff);}
    95.5556%{background-image: linear-gradient(344deg,#6666ff,#0000ff);}
    95.8334%{background-image: linear-gradient(345deg,#6666ff,#0000ff);}
    96.1112%{background-image: linear-gradient(346deg,#6666ff,#0000ff);}
    96.389%{background-image: linear-gradient(347deg,#6666ff,#0000ff);}
    96.6667%{background-image: linear-gradient(348deg,#6666ff,#0000ff);}
    96.9445%{background-image: linear-gradient(349deg,#6666ff,#0000ff);}
    97.2223%{background-image: linear-gradient(350deg,#6666ff,#0000ff);}
    97.5001%{background-image: linear-gradient(351deg,#6666ff,#0000ff);}
    97.7779%{background-image: linear-gradient(352deg,#6666ff,#0000ff);}
    98.0556%{background-image: linear-gradient(353deg,#6666ff,#0000ff);}
    98.3334%{background-image: linear-gradient(354deg,#6666ff,#0000ff);}
    98.6112%{background-image: linear-gradient(355deg,#6666ff,#0000ff);}
    98.889%{background-image: linear-gradient(356deg,#6666ff,#0000ff);}
    99.1667%{background-image: linear-gradient(357deg,#6666ff,#0000ff);}
    99.4445%{background-image: linear-gradient(358deg,#6666ff,#0000ff);}
    99.7223%{background-image: linear-gradient(359deg,#6666ff,#0000ff);}
    100%{background-image: linear-gradient(360deg,#6666ff,#0000ff);}
}