
.sfondoGradiente{
    background-image: linear-gradient(45deg,#6666ff,#0000ff);
    height: 100%;
    margin: 0;
    backdrop-filter: blur(10px);
    animation-name: sfondoGradienteAnimato;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*
Prima non cambia linearmente l'angolo
Poi non funziona linearmente la trasformazione di colori
Quindi vaffanculo mi sono fatto uno script del cazzo in C++ per stamparmi tutto questo
Vehap vorrai ammazzarmi ma vaffanculo
Ehm... Ora si che vuoi ammazzarmi
*/
    @keyframes sfondoGradienteAnimato{
    0%{background-image: linear-gradient(0deg,#e6e6ff,#000080);}
    0.277778%{background-image: linear-gradient(3.6deg,#e6e6ff,#000080);}
    0.555556%{background-image: linear-gradient(7.2deg,#e6e6ff,#000080);}
    0.833334%{background-image: linear-gradient(10.8deg,#e6e6ff,#000080);}
    1.11111%{background-image: linear-gradient(14.4deg,#e6e6ff,#000080);}
    1.38889%{background-image: linear-gradient(18deg,#e6e6ff,#000080);}
    1.66667%{background-image: linear-gradient(21.6deg,#e6e6ff,#000080);}
    1.94445%{background-image: linear-gradient(25.2deg,#e6e6ff,#000080);}
    2.22222%{background-image: linear-gradient(28.8deg,#e6e6ff,#000080);}
    2.5%{background-image: linear-gradient(32.4deg,#e6e6ff,#000080);}
    2.77778%{background-image: linear-gradient(36deg,#e6e6ff,#000080);}
    3.05556%{background-image: linear-gradient(39.6deg,#e6e6ff,#000080);}
    3.33334%{background-image: linear-gradient(43.2deg,#e6e6ff,#000080);}
    3.61111%{background-image: linear-gradient(46.8deg,#e6e6ff,#000080);}
    3.88889%{background-image: linear-gradient(50.4deg,#e6e6ff,#000080);}
    4.16667%{background-image: linear-gradient(54deg,#e6e6ff,#000080);}
    4.44445%{background-image: linear-gradient(57.6deg,#e6e6ff,#000080);}
    4.72223%{background-image: linear-gradient(61.2deg,#e6e6ff,#000080);}
    5%{background-image: linear-gradient(64.8deg,#e6e6ff,#000080);}
    5.27778%{background-image: linear-gradient(68.4deg,#e6e6ff,#000080);}
    5.55556%{background-image: linear-gradient(72deg,#e6e6ff,#000080);}
    5.83334%{background-image: linear-gradient(75.6deg,#e6e6ff,#000080);}
    6.11112%{background-image: linear-gradient(79.2deg,#e6e6ff,#000080);}
    6.38889%{background-image: linear-gradient(82.8deg,#e6e6ff,#000080);}
    6.66667%{background-image: linear-gradient(86.4deg,#e6e6ff,#000080);}
    6.94445%{background-image: linear-gradient(90deg,#e6e6ff,#000080);}
    7.22223%{background-image: linear-gradient(93.6deg,#e6e6ff,#000080);}
    7.50001%{background-image: linear-gradient(97.2deg,#e6e6ff,#000080);}
    7.77778%{background-image: linear-gradient(100.8deg,#e6e6ff,#000080);}
    8.05556%{background-image: linear-gradient(104.4deg,#e6e6ff,#000080);}
    8.33334%{background-image: linear-gradient(108deg,#e6e6ff,#000080);}
    8.61112%{background-image: linear-gradient(111.6deg,#e6e6ff,#000080);}
    8.8889%{background-image: linear-gradient(115.2deg,#e6e6ff,#000080);}
    9.16667%{background-image: linear-gradient(118.8deg,#e6e6ff,#000080);}
    9.44445%{background-image: linear-gradient(122.4deg,#e6e6ff,#000080);}
    9.72223%{background-image: linear-gradient(126deg,#e6e6ff,#000080);}
    10%{background-image: linear-gradient(129.6deg,#e6e6ff,#000080);}
    10.2778%{background-image: linear-gradient(133.2deg,#e6e6ff,#000080);}
    10.5556%{background-image: linear-gradient(136.8deg,#e6e6ff,#000080);}
    10.8333%{background-image: linear-gradient(140.4deg,#e6e6ff,#000080);}
    11.1111%{background-image: linear-gradient(144deg,#e6e6ff,#000080);}
    11.3889%{background-image: linear-gradient(147.6deg,#e6e6ff,#000080);}
    11.6667%{background-image: linear-gradient(151.2deg,#e6e6ff,#000080);}
    11.9445%{background-image: linear-gradient(154.8deg,#e6e6ff,#000080);}
    12.2222%{background-image: linear-gradient(158.4deg,#e6e6ff,#000080);}
    12.5%{background-image: linear-gradient(162deg,#e6e6ff,#000080);}
    12.7778%{background-image: linear-gradient(165.6deg,#e6e6ff,#000080);}
    13.0556%{background-image: linear-gradient(169.2deg,#e6e6ff,#000080);}
    13.3333%{background-image: linear-gradient(172.8deg,#e6e6ff,#000080);}
    13.6111%{background-image: linear-gradient(176.4deg,#e6e6ff,#000080);}
    13.8889%{background-image: linear-gradient(180deg,#e6e6ff,#000080);}
    14.1667%{background-image: linear-gradient(183.6deg,#e6e6ff,#000080);}
    14.4445%{background-image: linear-gradient(187.2deg,#e6e6ff,#000080);}
    14.7222%{background-image: linear-gradient(190.8deg,#e6e6ff,#000080);}
    15%{background-image: linear-gradient(194.4deg,#e6e6ff,#000080);}
    15.2778%{background-image: linear-gradient(198deg,#e6e6ff,#000080);}
    15.5556%{background-image: linear-gradient(201.6deg,#e6e6ff,#000080);}
    15.8333%{background-image: linear-gradient(205.2deg,#e6e6ff,#000080);}
    16.1111%{background-image: linear-gradient(208.8deg,#e6e6ff,#000080);}
    16.3889%{background-image: linear-gradient(212.4deg,#e6e6ff,#000080);}
    16.6667%{background-image: linear-gradient(216deg,#e6e6ff,#000080);}
    16.9445%{background-image: linear-gradient(219.6deg,#e6e6ff,#000080);}
    17.2222%{background-image: linear-gradient(223.2deg,#e6e6ff,#000080);}
    17.5%{background-image: linear-gradient(226.8deg,#e6e6ff,#000080);}
    17.7778%{background-image: linear-gradient(230.4deg,#e6e6ff,#000080);}
    18.0556%{background-image: linear-gradient(234deg,#e6e6ff,#000080);}
    18.3333%{background-image: linear-gradient(237.6deg,#e6e6ff,#000080);}
    18.6111%{background-image: linear-gradient(241.2deg,#e6e6ff,#000080);}
    18.8889%{background-image: linear-gradient(244.8deg,#e6e6ff,#000080);}
    19.1667%{background-image: linear-gradient(248.4deg,#e6e6ff,#000080);}
    19.4445%{background-image: linear-gradient(252deg,#e6e6ff,#000080);}
    19.7222%{background-image: linear-gradient(255.6deg,#e6e6ff,#000080);}
    20%{background-image: linear-gradient(259.2deg,#e6e6ff,#000080);}
    20.2778%{background-image: linear-gradient(262.8deg,#e6e6ff,#000080);}
    20.5556%{background-image: linear-gradient(266.4deg,#e6e6ff,#000080);}
    20.8334%{background-image: linear-gradient(270deg,#e6e6ff,#000080);}
    21.1111%{background-image: linear-gradient(273.6deg,#e6e6ff,#000080);}
    21.3889%{background-image: linear-gradient(277.2deg,#e6e6ff,#000080);}
    21.6667%{background-image: linear-gradient(280.8deg,#e6e6ff,#000080);}
    21.9445%{background-image: linear-gradient(284.4deg,#e6e6ff,#000080);}
    22.2222%{background-image: linear-gradient(288deg,#e6e6ff,#000080);}
    22.5%{background-image: linear-gradient(291.6deg,#e6e6ff,#000080);}
    22.7778%{background-image: linear-gradient(295.2deg,#e6e6ff,#000080);}
    23.0556%{background-image: linear-gradient(298.8deg,#e6e6ff,#000080);}
    23.3334%{background-image: linear-gradient(302.4deg,#e6e6ff,#000080);}
    23.6111%{background-image: linear-gradient(306deg,#e6e6ff,#000080);}
    23.8889%{background-image: linear-gradient(309.6deg,#e6e6ff,#000080);}
    24.1667%{background-image: linear-gradient(313.2deg,#e6e6ff,#000080);}
    24.4445%{background-image: linear-gradient(316.8deg,#e6e6ff,#000080);}
    24.7222%{background-image: linear-gradient(320.4deg,#e6e6ff,#000080);}
    25%{background-image: linear-gradient(324deg,#e6e6ff,#000080);}
    25.2778%{background-image: linear-gradient(327.6deg,#e6e6ff,#000080);}
    25.5556%{background-image: linear-gradient(331.2deg,#e6e6ff,#000080);}
    25.8334%{background-image: linear-gradient(334.8deg,#e6e6ff,#000080);}
    26.1111%{background-image: linear-gradient(338.4deg,#e6e6ff,#000080);}
    26.3889%{background-image: linear-gradient(342deg,#e6e6ff,#000080);}
    26.6667%{background-image: linear-gradient(345.6deg,#e6e6ff,#000080);}
    26.9445%{background-image: linear-gradient(349.2deg,#e6e6ff,#000080);}
    27.2222%{background-image: linear-gradient(352.8deg,#e6e6ff,#000080);}
    27.5%{background-image: linear-gradient(356.4deg,#e6e6ff,#000080);}
    27.7778%{background-image: linear-gradient(360deg,#e6e6ff,#000080);}
    28.0556%{background-image: linear-gradient(363.6deg,#e6e6ff,#000080);}
    28.3334%{background-image: linear-gradient(367.2deg,#e6e6ff,#000080);}
    28.6111%{background-image: linear-gradient(370.8deg,#e6e6ff,#000080);}
    28.8889%{background-image: linear-gradient(374.4deg,#e6e6ff,#000080);}
    29.1667%{background-image: linear-gradient(378deg,#e6e6ff,#000080);}
    29.4445%{background-image: linear-gradient(381.6deg,#e6e6ff,#000080);}
    29.7222%{background-image: linear-gradient(385.2deg,#e6e6ff,#000080);}
    30%{background-image: linear-gradient(388.8deg,#e6e6ff,#000080);}
    30.2778%{background-image: linear-gradient(392.4deg,#e6e6ff,#000080);}
    30.5556%{background-image: linear-gradient(396deg,#e6e6ff,#000080);}
    30.8334%{background-image: linear-gradient(399.6deg,#e6e6ff,#000080);}
    31.1111%{background-image: linear-gradient(403.2deg,#e6e6ff,#000080);}
    31.3889%{background-image: linear-gradient(406.8deg,#e6e6ff,#000080);}
    31.6667%{background-image: linear-gradient(410.4deg,#e6e6ff,#000080);}
    31.9445%{background-image: linear-gradient(414deg,#e6e6ff,#000080);}
    32.2222%{background-image: linear-gradient(417.6deg,#e6e6ff,#000080);}
    32.5%{background-image: linear-gradient(421.2deg,#e6e6ff,#000080);}
    32.7778%{background-image: linear-gradient(424.8deg,#e6e6ff,#000080);}
    33.0556%{background-image: linear-gradient(428.4deg,#e6e6ff,#000080);}
    33.3334%{background-image: linear-gradient(432deg,#e6e6ff,#000080);}
    33.6111%{background-image: linear-gradient(435.6deg,#e6e6ff,#000080);}
    33.8889%{background-image: linear-gradient(439.2deg,#e6e6ff,#000080);}
    34.1667%{background-image: linear-gradient(442.8deg,#e6e6ff,#000080);}
    34.4445%{background-image: linear-gradient(446.4deg,#e6e6ff,#000080);}
    34.7223%{background-image: linear-gradient(450deg,#e6e6ff,#000080);}
    35%{background-image: linear-gradient(453.6deg,#e6e6ff,#000080);}
    35.2778%{background-image: linear-gradient(457.2deg,#e6e6ff,#000080);}
    35.5556%{background-image: linear-gradient(460.8deg,#e6e6ff,#000080);}
    35.8334%{background-image: linear-gradient(464.4deg,#e6e6ff,#000080);}
    36.1111%{background-image: linear-gradient(468deg,#e6e6ff,#000080);}
    36.3889%{background-image: linear-gradient(471.6deg,#e6e6ff,#000080);}
    36.6667%{background-image: linear-gradient(475.2deg,#e6e6ff,#000080);}
    36.9445%{background-image: linear-gradient(478.8deg,#e6e6ff,#000080);}
    37.2223%{background-image: linear-gradient(482.4deg,#e6e6ff,#000080);}
    37.5%{background-image: linear-gradient(486deg,#e6e6ff,#000080);}
    37.7778%{background-image: linear-gradient(489.6deg,#e6e6ff,#000080);}
    38.0556%{background-image: linear-gradient(493.2deg,#e6e6ff,#000080);}
    38.3334%{background-image: linear-gradient(496.8deg,#e6e6ff,#000080);}
    38.6111%{background-image: linear-gradient(500.4deg,#e6e6ff,#000080);}
    38.8889%{background-image: linear-gradient(504deg,#e6e6ff,#000080);}
    39.1667%{background-image: linear-gradient(507.6deg,#e6e6ff,#000080);}
    39.4445%{background-image: linear-gradient(511.2deg,#e6e6ff,#000080);}
    39.7223%{background-image: linear-gradient(514.8deg,#e6e6ff,#000080);}
    40%{background-image: linear-gradient(518.4deg,#e6e6ff,#000080);}
    40.2778%{background-image: linear-gradient(522deg,#e6e6ff,#000080);}
    40.5556%{background-image: linear-gradient(525.6deg,#e6e6ff,#000080);}
    40.8334%{background-image: linear-gradient(529.2deg,#e6e6ff,#000080);}
    41.1111%{background-image: linear-gradient(532.8deg,#e6e6ff,#000080);}
    41.3889%{background-image: linear-gradient(536.4deg,#e6e6ff,#000080);}
    41.6667%{background-image: linear-gradient(540deg,#e6e6ff,#000080);}
    41.9445%{background-image: linear-gradient(543.6deg,#e6e6ff,#000080);}
    42.2223%{background-image: linear-gradient(547.2deg,#e6e6ff,#000080);}
    42.5%{background-image: linear-gradient(550.8deg,#e6e6ff,#000080);}
    42.7778%{background-image: linear-gradient(554.4deg,#e6e6ff,#000080);}
    43.0556%{background-image: linear-gradient(558deg,#e6e6ff,#000080);}
    43.3334%{background-image: linear-gradient(561.6deg,#e6e6ff,#000080);}
    43.6111%{background-image: linear-gradient(565.2deg,#e6e6ff,#000080);}
    43.8889%{background-image: linear-gradient(568.8deg,#e6e6ff,#000080);}
    44.1667%{background-image: linear-gradient(572.4deg,#e6e6ff,#000080);}
    44.4445%{background-image: linear-gradient(576deg,#e6e6ff,#000080);}
    44.7223%{background-image: linear-gradient(579.6deg,#e6e6ff,#000080);}
    45%{background-image: linear-gradient(583.2deg,#e6e6ff,#000080);}
    45.2778%{background-image: linear-gradient(586.8deg,#e6e6ff,#000080);}
    45.5556%{background-image: linear-gradient(590.4deg,#e6e6ff,#000080);}
    45.8334%{background-image: linear-gradient(594deg,#e6e6ff,#000080);}
    46.1111%{background-image: linear-gradient(597.6deg,#e6e6ff,#000080);}
    46.3889%{background-image: linear-gradient(601.2deg,#e6e6ff,#000080);}
    46.6667%{background-image: linear-gradient(604.8deg,#e6e6ff,#000080);}
    46.9445%{background-image: linear-gradient(608.4deg,#e6e6ff,#000080);}
    47.2223%{background-image: linear-gradient(612deg,#e6e6ff,#000080);}
    47.5%{background-image: linear-gradient(615.6deg,#e6e6ff,#000080);}
    47.7778%{background-image: linear-gradient(619.2deg,#e6e6ff,#000080);}
    48.0556%{background-image: linear-gradient(622.8deg,#e6e6ff,#000080);}
    48.3334%{background-image: linear-gradient(626.4deg,#e6e6ff,#000080);}
    48.6112%{background-image: linear-gradient(630deg,#e6e6ff,#000080);}
    48.8889%{background-image: linear-gradient(633.6deg,#e6e6ff,#000080);}
    49.1667%{background-image: linear-gradient(637.2deg,#e6e6ff,#000080);}
    49.4445%{background-image: linear-gradient(640.8deg,#e6e6ff,#000080);}
    49.7223%{background-image: linear-gradient(644.4deg,#e6e6ff,#000080);}
    50%{background-image: linear-gradient(648deg,#e6e6ff,#000080);}
    50.2778%{background-image: linear-gradient(651.6deg,#e6e6ff,#000080);}
    50.5556%{background-image: linear-gradient(655.2deg,#e6e6ff,#000080);}
    50.8334%{background-image: linear-gradient(658.8deg,#e6e6ff,#000080);}
    51.1112%{background-image: linear-gradient(662.4deg,#e6e6ff,#000080);}
    51.3889%{background-image: linear-gradient(666deg,#e6e6ff,#000080);}
    51.6667%{background-image: linear-gradient(669.6deg,#e6e6ff,#000080);}
    51.9445%{background-image: linear-gradient(673.2deg,#e6e6ff,#000080);}
    52.2223%{background-image: linear-gradient(676.8deg,#e6e6ff,#000080);}
    52.5%{background-image: linear-gradient(680.4deg,#e6e6ff,#000080);}
    52.7778%{background-image: linear-gradient(684deg,#e6e6ff,#000080);}
    53.0556%{background-image: linear-gradient(687.6deg,#e6e6ff,#000080);}
    53.3334%{background-image: linear-gradient(691.2deg,#e6e6ff,#000080);}
    53.6112%{background-image: linear-gradient(694.8deg,#e6e6ff,#000080);}
    53.8889%{background-image: linear-gradient(698.4deg,#e6e6ff,#000080);}
    54.1667%{background-image: linear-gradient(702deg,#e6e6ff,#000080);}
    54.4445%{background-image: linear-gradient(705.6deg,#e6e6ff,#000080);}
    54.7223%{background-image: linear-gradient(709.2deg,#e6e6ff,#000080);}
    55%{background-image: linear-gradient(712.8deg,#e6e6ff,#000080);}
    55.2778%{background-image: linear-gradient(716.4deg,#e6e6ff,#000080);}
    55.5556%{background-image: linear-gradient(720deg,#e6e6ff,#000080);}
    55.8334%{background-image: linear-gradient(723.6deg,#e6e6ff,#000080);}
    56.1112%{background-image: linear-gradient(727.2deg,#e6e6ff,#000080);}
    56.3889%{background-image: linear-gradient(730.8deg,#e6e6ff,#000080);}
    56.6667%{background-image: linear-gradient(734.4deg,#e6e6ff,#000080);}
    56.9445%{background-image: linear-gradient(738deg,#e6e6ff,#000080);}
    57.2223%{background-image: linear-gradient(741.6deg,#e6e6ff,#000080);}
    57.5%{background-image: linear-gradient(745.2deg,#e6e6ff,#000080);}
    57.7778%{background-image: linear-gradient(748.8deg,#e6e6ff,#000080);}
    58.0556%{background-image: linear-gradient(752.4deg,#e6e6ff,#000080);}
    58.3334%{background-image: linear-gradient(756deg,#e6e6ff,#000080);}
    58.6112%{background-image: linear-gradient(759.6deg,#e6e6ff,#000080);}
    58.8889%{background-image: linear-gradient(763.2deg,#e6e6ff,#000080);}
    59.1667%{background-image: linear-gradient(766.8deg,#e6e6ff,#000080);}
    59.4445%{background-image: linear-gradient(770.4deg,#e6e6ff,#000080);}
    59.7223%{background-image: linear-gradient(774deg,#e6e6ff,#000080);}
    60%{background-image: linear-gradient(777.6deg,#e6e6ff,#000080);}
    60.2778%{background-image: linear-gradient(781.2deg,#e6e6ff,#000080);}
    60.5556%{background-image: linear-gradient(784.8deg,#e6e6ff,#000080);}
    60.8334%{background-image: linear-gradient(788.4deg,#e6e6ff,#000080);}
    61.1112%{background-image: linear-gradient(792deg,#e6e6ff,#000080);}
    61.3889%{background-image: linear-gradient(795.6deg,#e6e6ff,#000080);}
    61.6667%{background-image: linear-gradient(799.2deg,#e6e6ff,#000080);}
    61.9445%{background-image: linear-gradient(802.8deg,#e6e6ff,#000080);}
    62.2223%{background-image: linear-gradient(806.4deg,#e6e6ff,#000080);}
    62.5001%{background-image: linear-gradient(810deg,#e6e6ff,#000080);}
    62.7778%{background-image: linear-gradient(813.6deg,#e6e6ff,#000080);}
    63.0556%{background-image: linear-gradient(817.2deg,#e6e6ff,#000080);}
    63.3334%{background-image: linear-gradient(820.8deg,#e6e6ff,#000080);}
    63.6112%{background-image: linear-gradient(824.4deg,#e6e6ff,#000080);}
    63.8889%{background-image: linear-gradient(828deg,#e6e6ff,#000080);}
    64.1667%{background-image: linear-gradient(831.6deg,#e6e6ff,#000080);}
    64.4445%{background-image: linear-gradient(835.2deg,#e6e6ff,#000080);}
    64.7223%{background-image: linear-gradient(838.8deg,#e6e6ff,#000080);}
    65.0001%{background-image: linear-gradient(842.4deg,#e6e6ff,#000080);}
    65.2778%{background-image: linear-gradient(846deg,#e6e6ff,#000080);}
    65.5556%{background-image: linear-gradient(849.6deg,#e6e6ff,#000080);}
    65.8334%{background-image: linear-gradient(853.2deg,#e6e6ff,#000080);}
    66.1112%{background-image: linear-gradient(856.8deg,#e6e6ff,#000080);}
    66.3889%{background-image: linear-gradient(860.4deg,#e6e6ff,#000080);}
    66.6667%{background-image: linear-gradient(864deg,#e6e6ff,#000080);}
    66.9445%{background-image: linear-gradient(867.6deg,#e6e6ff,#000080);}
    67.2223%{background-image: linear-gradient(871.2deg,#e6e6ff,#000080);}
    67.5001%{background-image: linear-gradient(874.8deg,#e6e6ff,#000080);}
    67.7778%{background-image: linear-gradient(878.4deg,#e6e6ff,#000080);}
    68.0556%{background-image: linear-gradient(882deg,#e6e6ff,#000080);}
    68.3334%{background-image: linear-gradient(885.6deg,#e6e6ff,#000080);}
    68.6112%{background-image: linear-gradient(889.2deg,#e6e6ff,#000080);}
    68.8889%{background-image: linear-gradient(892.8deg,#e6e6ff,#000080);}
    69.1667%{background-image: linear-gradient(896.4deg,#e6e6ff,#000080);}
    69.4445%{background-image: linear-gradient(900deg,#e6e6ff,#000080);}
    69.7223%{background-image: linear-gradient(903.6deg,#e6e6ff,#000080);}
    70.0001%{background-image: linear-gradient(907.2deg,#e6e6ff,#000080);}
    70.2778%{background-image: linear-gradient(910.8deg,#e6e6ff,#000080);}
    70.5556%{background-image: linear-gradient(914.4deg,#e6e6ff,#000080);}
    70.8334%{background-image: linear-gradient(918deg,#e6e6ff,#000080);}
    71.1112%{background-image: linear-gradient(921.6deg,#e6e6ff,#000080);}
    71.3889%{background-image: linear-gradient(925.2deg,#e6e6ff,#000080);}
    71.6667%{background-image: linear-gradient(928.8deg,#e6e6ff,#000080);}
    71.9445%{background-image: linear-gradient(932.4deg,#e6e6ff,#000080);}
    72.2223%{background-image: linear-gradient(936deg,#e6e6ff,#000080);}
    72.5001%{background-image: linear-gradient(939.6deg,#e6e6ff,#000080);}
    72.7778%{background-image: linear-gradient(943.2deg,#e6e6ff,#000080);}
    73.0556%{background-image: linear-gradient(946.8deg,#e6e6ff,#000080);}
    73.3334%{background-image: linear-gradient(950.4deg,#e6e6ff,#000080);}
    73.6112%{background-image: linear-gradient(954deg,#e6e6ff,#000080);}
    73.8889%{background-image: linear-gradient(957.6deg,#e6e6ff,#000080);}
    74.1667%{background-image: linear-gradient(961.2deg,#e6e6ff,#000080);}
    74.4445%{background-image: linear-gradient(964.8deg,#e6e6ff,#000080);}
    74.7223%{background-image: linear-gradient(968.4deg,#e6e6ff,#000080);}
    75.0001%{background-image: linear-gradient(972deg,#e6e6ff,#000080);}
    75.2778%{background-image: linear-gradient(975.6deg,#e6e6ff,#000080);}
    75.5556%{background-image: linear-gradient(979.2deg,#e6e6ff,#000080);}
    75.8334%{background-image: linear-gradient(982.8deg,#e6e6ff,#000080);}
    76.1112%{background-image: linear-gradient(986.4deg,#e6e6ff,#000080);}
    76.389%{background-image: linear-gradient(990deg,#e6e6ff,#000080);}
    76.6667%{background-image: linear-gradient(993.6deg,#e6e6ff,#000080);}
    76.9445%{background-image: linear-gradient(997.2deg,#e6e6ff,#000080);}
    77.2223%{background-image: linear-gradient(1000.8deg,#e6e6ff,#000080);}
    77.5001%{background-image: linear-gradient(1004.4deg,#e6e6ff,#000080);}
    77.7778%{background-image: linear-gradient(1008deg,#e6e6ff,#000080);}
    78.0556%{background-image: linear-gradient(1011.6deg,#e6e6ff,#000080);}
    78.3334%{background-image: linear-gradient(1015.2deg,#e6e6ff,#000080);}
    78.6112%{background-image: linear-gradient(1018.8deg,#e6e6ff,#000080);}
    78.889%{background-image: linear-gradient(1022.4deg,#e6e6ff,#000080);}
    79.1667%{background-image: linear-gradient(1026deg,#e6e6ff,#000080);}
    79.4445%{background-image: linear-gradient(1029.6deg,#e6e6ff,#000080);}
    79.7223%{background-image: linear-gradient(1033.2deg,#e6e6ff,#000080);}
    80.0001%{background-image: linear-gradient(1036.8deg,#e6e6ff,#000080);}
    80.2778%{background-image: linear-gradient(1040.4deg,#e6e6ff,#000080);}
    80.5556%{background-image: linear-gradient(1044deg,#e6e6ff,#000080);}
    80.8334%{background-image: linear-gradient(1047.6deg,#e6e6ff,#000080);}
    81.1112%{background-image: linear-gradient(1051.2deg,#e6e6ff,#000080);}
    81.389%{background-image: linear-gradient(1054.8deg,#e6e6ff,#000080);}
    81.6667%{background-image: linear-gradient(1058.4deg,#e6e6ff,#000080);}
    81.9445%{background-image: linear-gradient(1062deg,#e6e6ff,#000080);}
    82.2223%{background-image: linear-gradient(1065.6deg,#e6e6ff,#000080);}
    82.5001%{background-image: linear-gradient(1069.2deg,#e6e6ff,#000080);}
    82.7778%{background-image: linear-gradient(1072.8deg,#e6e6ff,#000080);}
    83.0556%{background-image: linear-gradient(1076.4deg,#e6e6ff,#000080);}
    83.3334%{background-image: linear-gradient(1080deg,#e6e6ff,#000080);}
    83.6112%{background-image: linear-gradient(1083.6deg,#e6e6ff,#000080);}
    83.889%{background-image: linear-gradient(1087.2deg,#e6e6ff,#000080);}
    84.1667%{background-image: linear-gradient(1090.8deg,#e6e6ff,#000080);}
    84.4445%{background-image: linear-gradient(1094.4deg,#e6e6ff,#000080);}
    84.7223%{background-image: linear-gradient(1098deg,#e6e6ff,#000080);}
    85.0001%{background-image: linear-gradient(1101.6deg,#e6e6ff,#000080);}
    85.2778%{background-image: linear-gradient(1105.2deg,#e6e6ff,#000080);}
    85.5556%{background-image: linear-gradient(1108.8deg,#e6e6ff,#000080);}
    85.8334%{background-image: linear-gradient(1112.4deg,#e6e6ff,#000080);}
    86.1112%{background-image: linear-gradient(1116deg,#e6e6ff,#000080);}
    86.389%{background-image: linear-gradient(1119.6deg,#e6e6ff,#000080);}
    86.6667%{background-image: linear-gradient(1123.2deg,#e6e6ff,#000080);}
    86.9445%{background-image: linear-gradient(1126.8deg,#e6e6ff,#000080);}
    87.2223%{background-image: linear-gradient(1130.4deg,#e6e6ff,#000080);}
    87.5001%{background-image: linear-gradient(1134deg,#e6e6ff,#000080);}
    87.7778%{background-image: linear-gradient(1137.6deg,#e6e6ff,#000080);}
    88.0556%{background-image: linear-gradient(1141.2deg,#e6e6ff,#000080);}
    88.3334%{background-image: linear-gradient(1144.8deg,#e6e6ff,#000080);}
    88.6112%{background-image: linear-gradient(1148.4deg,#e6e6ff,#000080);}
    88.889%{background-image: linear-gradient(1152deg,#e6e6ff,#000080);}
    89.1667%{background-image: linear-gradient(1155.6deg,#e6e6ff,#000080);}
    89.4445%{background-image: linear-gradient(1159.2deg,#e6e6ff,#000080);}
    89.7223%{background-image: linear-gradient(1162.8deg,#e6e6ff,#000080);}
    90.0001%{background-image: linear-gradient(1166.4deg,#e6e6ff,#000080);}
    90.2779%{background-image: linear-gradient(1170deg,#e6e6ff,#000080);}
    90.5556%{background-image: linear-gradient(1173.6deg,#e6e6ff,#000080);}
    90.8334%{background-image: linear-gradient(1177.2deg,#e6e6ff,#000080);}
    91.1112%{background-image: linear-gradient(1180.8deg,#e6e6ff,#000080);}
    91.389%{background-image: linear-gradient(1184.4deg,#e6e6ff,#000080);}
    91.6667%{background-image: linear-gradient(1188deg,#e6e6ff,#000080);}
    91.9445%{background-image: linear-gradient(1191.6deg,#e6e6ff,#000080);}
    92.2223%{background-image: linear-gradient(1195.2deg,#e6e6ff,#000080);}
    92.5001%{background-image: linear-gradient(1198.8deg,#e6e6ff,#000080);}
    92.7779%{background-image: linear-gradient(1202.4deg,#e6e6ff,#000080);}
    93.0556%{background-image: linear-gradient(1206deg,#e6e6ff,#000080);}
    93.3334%{background-image: linear-gradient(1209.6deg,#e6e6ff,#000080);}
    93.6112%{background-image: linear-gradient(1213.2deg,#e6e6ff,#000080);}
    93.889%{background-image: linear-gradient(1216.8deg,#e6e6ff,#000080);}
    94.1667%{background-image: linear-gradient(1220.4deg,#e6e6ff,#000080);}
    94.4445%{background-image: linear-gradient(1224deg,#e6e6ff,#000080);}
    94.7223%{background-image: linear-gradient(1227.6deg,#e6e6ff,#000080);}
    95.0001%{background-image: linear-gradient(1231.2deg,#e6e6ff,#000080);}
    95.2779%{background-image: linear-gradient(1234.8deg,#e6e6ff,#000080);}
    95.5556%{background-image: linear-gradient(1238.4deg,#e6e6ff,#000080);}
    95.8334%{background-image: linear-gradient(1242deg,#e6e6ff,#000080);}
    96.1112%{background-image: linear-gradient(1245.6deg,#e6e6ff,#000080);}
    96.389%{background-image: linear-gradient(1249.2deg,#e6e6ff,#000080);}
    96.6667%{background-image: linear-gradient(1252.8deg,#e6e6ff,#000080);}
    96.9445%{background-image: linear-gradient(1256.4deg,#e6e6ff,#000080);}
    97.2223%{background-image: linear-gradient(1260deg,#e6e6ff,#000080);}
    97.5001%{background-image: linear-gradient(1263.6deg,#e6e6ff,#000080);}
    97.7779%{background-image: linear-gradient(1267.2deg,#e6e6ff,#000080);}
    98.0556%{background-image: linear-gradient(1270.8deg,#e6e6ff,#000080);}
    98.3334%{background-image: linear-gradient(1274.4deg,#e6e6ff,#000080);}
    98.6112%{background-image: linear-gradient(1278deg,#e6e6ff,#000080);}
    98.889%{background-image: linear-gradient(1281.6deg,#e6e6ff,#000080);}
    99.1667%{background-image: linear-gradient(1285.2deg,#e6e6ff,#000080);}
    99.4445%{background-image: linear-gradient(1288.8deg,#e6e6ff,#000080);}
    99.7223%{background-image: linear-gradient(1292.4deg,#e6e6ff,#000080);}
    100%{background-image: linear-gradient(1296deg,#e6e6ff,#000080);}
}