
.sfondoGradiente{
    /*background-image: linear-gradient(45deg,#6666ff,#0000ff);*/
    background-image: radial-gradient(circle at 40% 60%,#6666ff,#0000ff);
    height: 100%;
    margin: 0;
    /*animation-name: sfondoGradienteAnimato;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

/*
@keyframes sfondoGradienteAnimato{
   from{background-image: radial-gradient(circle at 40% 60%,#6666ff,#0000ff);}
   to{background-image: radial-gradient(circle at 80% 40%,#6666ff,#0000ff);}
}
*/